@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #04031F;
  --foreground: #FFFFFF;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 
  
  Inter, Helvetica, sans-serif;
}



.custom-pattern{
  background-image:  repeating-radial-gradient(circle at 0 0, transparent 0, rgba(46, 56, 87, 0.65) 20px), repeating-linear-gradient(#04031f, #04031f);
  background-color: rgba(46, 56, 87, 0.65);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
